<div class="is-centered" style="text-align: center; margin-bottom:35px;   margin-top:50px">
  <h1 style="font-size:1.8em">
    <b>Upgrade your Account!</b>
  </h1>
</div>

<br>
<div class="tile is-ancestor">
  <article class="tile is-child notification is-success">
    <div class="content">
      <p class="title">Standard Account</p>
      <div class="content">
        <div class="box">
          <p>Enjoy all the standard features of iVote by voting on the latest polls and climbing the leaderboard</p>
          <div class="box">
            <ul>
              <p><i class="far fa-check-circle"></i> Unlimited Voting</p>
              <p><i class="far fa-check-circle"></i> Earn points to create polls</p>
              <p><i class="far fa-check-circle"></i> Follow users all over the world</p>
              <p><i class="far fa-check-circle"></i> Comment on polls</p>
              <p><i class="far fa-check-circle"></i> Climb the leaderboard</p>
            </ul>
          </div>
            <p class="title is-1">Free</p>
          <a class="button is-success" title="Disabled button" disabled>Current Account</a>
        </div>
      </div>
    </div>
  </article>
  <article class="tile is-child notification is-warning">
    <div class="content">
      <p class="title">Pro Account</p>
      <div class="content">
        <div class="box">
          <p>Become a Pro User to enjoy all the features of a standard user plus great extras like ask 5 free polls a day </p>
          <div class="box">
            <ul>
              <p><i class="far fa-check-circle"></i> All the features of standard users</p>
              <p><i class="far fa-check-circle"></i> 5 Free Polls a day</p>
              <p><i class="far fa-check-circle"></i> 24 hour access to our support line</p>
            </ul>
          </div>
            £<p class="title is-1">3.99</p>per month
            <br></br>
          <input class="button is-focused is-warning" type="submit" value="Upgrade to Pro">
        </div>
      </div>
    </div>
  </article>
  <article class="tile is-child notification is-info">
    <div class="content">
      <p class="title">Business Account</p>
      <div class="content">
        <div class="box">
          <p>Become an iVote Business User to make the most out of iVote and its brilliant features </p>
          <div class="box">
            <ul>
              <p><i class="far fa-check-circle"></i> Unlimited Polls</p>
              <p><i class="far fa-check-circle"></i> Premoted Polls</p>
              <p><i class="far fa-check-circle"></i> Voter Demographic Breakdown</p>
              <p><i class="far fa-check-circle"></i> 24 hour access to business support line</p>
            </ul>
          </div>
            £<p class="title is-1">19</p>per month
            <br></br>
          <input class="button is-focused is-info" type="submit" value="Upgrade to Business">
        </div>
      </div>
    </div>
  </article>
</div>
<br><br><br><br>